<div class="cardsMenor">
  <div class="card cardsMenor1" style="width: 14rem;">
    <div>
      <img class="card-img-top" src="https://static-images.ifood.com.br/image/upload/f_auto/webapp/landingV2/drinks.png" alt="Card image cap">
      <div class="card-body">
        <p class="textCar" style="margin-top: 0px;"><strong>Pet shop</strong></p>
      </div>
    </div>
  </div>

  <div class="card cardsMenor2" style="width: 13rem;">
    <div>
      <img class="card-img-top" src="https://static-images.ifood.com.br/image/upload/f_auto/webapp/landingV2/pharmacy.png" alt="Card image cap">
      <div class="card-body">
        <p class="textCar" style="margin-top: 0px;"><strong>Pet shop</strong></p>
      </div>
    </div>
  </div>

  <div class="card cardsMenor3" style="width: 13rem;">
    <div>
      <img class="card-img-top" src="https://static-images.ifood.com.br/image/upload/f_auto/webapp/landingV2/petshop.png" alt="Card image cap">
      <div class="card-body">
        <p class="textCar" style="margin-top: 0px;"><strong>Pet shop</strong></p>
      </div>
    </div>
  </div>
</div>

<br><br>

<hr/>
  <app-carousel></app-carousel>
  <app-cards-promocao></app-cards-promocao>





