.container{
  margin-top: 40px;
  /* position: absolute; */
}

.textInicio {
  margin-top: 35px;
  text-align: center;
}

.btn {
  font-family: helvetica, sans-serif;
  color: white;
  margin-left: 20px;
  height: 50px;
  width: 120px;
  border-radius: 4px;
  background-color: #ea1d2c;
  align-items: center;
  margin-top: 15px;
}

.input-group {
  margin-top: 30px;
  padding-top: 4px;
  color: #a6a6a6;
  font-weight: 100;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
}

.text {
  width: 100px;
  word-break: break-all;
  position: relative;
}

.bi {
  color: #ea1d2c;
  margin-top: 30px;
  margin-right: 10px;

}

.card {
  width: 40px;
  transition: opacity 1.5s ease;
  height: 100%;
  cursor: pointer;
  height: 200px;
  margin: 20px;
  border-radius: 20px;
}

.imgC1{
  width: 200px;
  margin-top: 11px;
  margin-left: 180px;
}
.imgC2{
  width: 200px;
  /* height: 190px; */
  margin-top: 0px;
  margin-left: 180px;
}

.card1 {

  background-color: #ea1d2c;
}

.card2 {
  background-color: #b6d048;
}

.cardsCentral {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: helvetica, sans-serif;
}

.textCar {
  color: white;
  text-align: start;
  margin-top: 7px;
  margin-left: 20px;
}


.img2 {
  background-color: #9eb53e;
  text-decoration: none;
  color: white;
  font-family: helvetica, sans-serif;
  font-size: 17px;
}

.divinputPesquisa {
  margin-left: 110px;
  width: 80%;

}

.form-control {
  margin-top: 16px;
  height: 48px;
  border-radius: 3px;
}
