<div class="container">
  <div class="textInicio">
    <h1>Tudo pra facilitar seu dia a dia</h1>
    <p>O que você precisa está aqui. Peça e receba onde estiver.</p>

    <div class="input-group mb-3 divinputPesquisa" >

      <!-- <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
        <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
        <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
      </svg> -->

      <input style="border-radius: 5px;  " class="form-control py-2" placeholder="Endereço de entrega e número" type="search" >

      <div class="input-group-append">
        <button type="button" class="btn btn-danger">Buscar</button>
      </div>
    </div>

    <div class="cardsCentral">
      <div class="card card1" style="width: 25rem;">
        <h3 class="textCar">Restaurante</h3>
<div>

  <img class="card-img-top imgC1" src="https://static-images.ifood.com.br/image/upload/f_auto/webapp/landingV2/restaurant.png" alt="Card image cap">
</div>
<button class="btn btn-danger btnopções" >Ver opções ></button>

</div>

      <div class="card card2" style="width: 25rem;">
        <h3 class="textCar">Mercado</h3>
        <img class="card-img-top imgC2" src="https://static-images.ifood.com.br/image/upload/f_auto/webapp/landingV2/market.png" alt="Card image cap">
        <button class="btn btn-danger btnopções" >Buscar lojas ></button>
      </div>
    </div>
    <app-card-menor></app-card-menor>
</div>


