<div class="container">
  <div class="card" style="width: 22rem; margin-left: 10px;">
    <img src="https://static-images.ifood.com.br/image/upload/t_high,q_100/webapp/landing/landing-banner-1.png" class="card-img-top" alt="...">
  </div>

  <div class="card" style="width: 22rem;margin-left: 10px">
    <img src="https://static-images.ifood.com.br/image/upload/t_high,q_100/webapp/landing/landing-banner-2.png" class="card-img-top" alt="...">
  </div>

  <div class="card" style="width: 22rem; margin-left: 10px">
    <img src="https://static-images.ifood.com.br/image/upload/t_high,q_100/webapp/landing/landing-banner-3.png" class="card-img-top" alt="...">
  </div>
</div>
<br>
<div>
  <h1>
    testeeeeeeeeeeeeeeeeeeee
    testeeeeeeeeeeeeeeeeeeee
    testeeeeeeeeeeeeeeeeeeee
    testeeeeeeeeeeeeeeeeeeee
  </h1>
</div>
